# -----------------------------
# Virtual environments
# -----------------------------
venv/
.env/

# -----------------------------
# Python cache / compiled files
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# OS-specific files
# -----------------------------
.DS_Store

# -----------------------------
# Jupyter Notebook checkpoints
# -----------------------------
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# -----------------------------
# VS Code settings
# -----------------------------
.vscode/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Stock market project (big files)
# -----------------------------
Machine_Learning/Project_on_stock_markets/
Machine_Learning/Project_on_stock_markets/*.csv
